propcache==0.3.2
shellingham==1.5.4
arrow==1.3.0
threadpoolctl==3.6.0
pydantic_core==2.33.2
mrcfile==1.5.4
numpy==2.3.2
GitPython==3.1.45
idna==3.10
urllib3==2.5.0
scipy==1.16.1
typer==0.16.0
kiwisolver==1.4.8
rdkit==2025.3.4
aiohttp==3.12.15
certifi==2025.7.14
pytz==2025.2
mmtf-python==1.1.3
prolif==2.0.3
joblib==1.5.1
protobuf==6.31.1
typing-inspection==0.4.1
multidict==6.6.3
fief-client==0.20.0
wandb==0.21.0
pip==25.1.1
platformdirs==4.3.8
anyio==4.9.0
codecarbon==3.0.4
attrs==25.3.0
pandas==2.3.1
contourpy==1.3.3
markdown-it-py==3.0.0
httpx==0.27.2
GridDataFormats==1.0.2
pyparsing==3.2.3
fsspec==2025.7.0
yaspin==3.1.0
pytest==8.4.1
charset-normalizer==3.4.2
requests==2.32.4
typing_extensions==4.14.1
tqdm==4.67.1
torch==2.7.1
prometheus_client==0.22.1
RapidFuzz==3.13.0
tzdata==2025.2
httpcore==1.0.9
rich==14.1.0
msgpack==1.1.1
cffi==1.17.1
matplotlib==3.10.5
yarl==1.20.1
sentry-sdk==2.34.1
sympy==1.14.0
torch-geometric==2.6.1
h11==0.16.0
gitdb==4.0.12
sniffio==1.3.1
psutil==7.0.0
setuptools==80.9.0
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
jwcrypto==1.5.6
mpmath==1.3.0
pynvml==12.0.0
questionary==2.1.0
wcwidth==0.2.13
multiprocess==0.70.18
prompt_toolkit==3.0.51
aiosignal==1.4.0
click==8.2.1
packaging==25.0
pycparser==2.22
cycler==0.12.1
Jinja2==3.1.6
filelock==3.18.0
dill==0.4.0
pydantic==2.11.7
cryptography==45.0.5
pluggy==1.6.0
Pygments==2.19.2
aiohappyeyeballs==2.6.1
fonttools==4.59.0
types-python-dateutil==2.9.0.20250708
py-cpuinfo==9.0.0
PyYAML==6.0.2
MDAnalysis==2.9.0
smmap==5.0.2
pillow==11.3.0
scikit-learn==1.7.1
iniconfig==2.1.0
termcolor==2.3.0
annotated-types==0.7.0
mda-xdrlib==0.2.0
six==1.17.0
nvidia-ml-py==12.575.51
frozenlist==1.7.0
graph-dit-uq==0.1.0
MarkupSafe==3.0.2
graph-dit-uq==0.1.0
